/* multipletabs design tokens */
:root {
  --multipletabs-gap: var(--spacing-m);
  --multipletabs-text-col-width: 14rem;
  --multipletabs-panel-padding: var(--spacing-m);
  --multipletabs-border-width: 2px;
  --multipletabs-border-color: var(--border-color);
  --multipletabs-border-bottom-color: rgb(202 202 202);
  --multipletabs-border-bottom-selected-color: rgb(26 101 178);
  --multipletabs-transition-duration: 0.5s;
}
